h1 {
    text-align: center;
}


select {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
}
#btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.cart {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 110%;
}